@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Unbounded", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", sans-serif;
}
