# Установка venv 3.12.10
#py -3.12 -m venv venv
#venv\Scripts\activate
#pip install -r requirements.txt
#python.exe -m pip install --upgrade pip

fastapi
fastapi[all]
asyncpg
uvicorn
pyjwt
Jinja2
requests
pydantic_settings
tzdata
werkzeug
python-multipart
qrcode[pil]
fs-cdek-api
httpx
passlib
bcrypt==3.2.2